
.cuerpo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.encabezado{
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgb(33, 147, 116);
}
.encabezado1{
    height: 100%;
    width: 25%;
    display: flex;
    
}
.encabezado2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items:baseline;
}
.encabezado3{
    height: 100%;
    width: 80%;
    display: flex;
  
}
h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.bloque{
    display: flex;
    height: 100%;
    width: 25%;
    align-items:center;

}
.bloque2{
    display: flex;
    height: 100%;
    width: 75%;
    align-items:center;

}
.cuer{
    height: 90%;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.img-small {
    width: 200px;
    border-radius: 30px;
  }

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 20px 0 0px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;   
  padding: 0 47px 0 10px;
	border-color: #888;
  border-radius: 30px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 5px; /* margin-top + border-width */
  margin-right: 1px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 20px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}
